# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.py[cod]
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js
node_modules/
package-lock.json

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
